$size: 40px;

#image {
  width: 100px;
  height: 100px;
}
.Social-image {
  width: $size;
  height: 30px;
}

$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", roboto,
  "Helvetica Neue", arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: sfmono-regular, menlo, monaco, consolas,
  "Liberation Mono", "Courier New", monospace;

body {
  font-family: $font-family-sans-serif;
}
